<launch>
<!-- 用于robot_state_publisher节点-->
    <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.135 0.00 0.155 3.14 0 0 base_footprint laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.115 0.00 0.095 0 0 0 base_footprint camera_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0 0 0 0 0 0 base_footprint gyro_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera"
      args="0.115 0.0 0.095 -1.57 0.0 -1.57 base_footprint usb_cam 20">
    </node>
  <!-- URDF 标准化机器人描述格式 --> 
    <param name = "robot_description" textfile = "$(find robot_bringup)/urdf/omni_robot.urdf"/> 

    <!-- 读取urdf信息(robot_description) 发布话题：/joint_states-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <!-- 订阅话题：/joint_states，发布小车TF信息-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
 </launch>




